/* body{
    color:red;
}
h1{
    color:blue;
}
h2{
    color:green;
} */

/* to style the particular element using id */
/* #lib-header{
    color: grey;
} */

/* to style the element with class attribute */
/* .para{
    color:yellowgreen;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat',
    sans-serif;
}

/* Containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.centered-container {
    max-width:600px;
    margin: auto;
}

